<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ORG Page Tests"  verbose="1">

    <listeners>
        <listener class-name="utils.AssignTestPriorityTransformer" />
    </listeners>
    <test name="ORG Website Regression Tests">
        <classes>
            <class name="tests.ORGPageTests" >
                <methods>
                    <include name="verifyHeaderPresentOnAllPages" />
                    <include name="checkORGPagesForSpellingErrors" />
                    <include name="verifyAllHeaderLinksOpen" />
                    <include name="verifyORGPhasesPdfFileLoads" />
                    <include name="verifyAllSideLinksOpen" />
                    <include name="verifyNewsArticleLinksOpen" />
                    <include name="verifyAllFooterLinksOpen" />
                </methods>
            </class>
        </classes>
    </test>

</suite>