<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="ORG Page Tests" verbose="1">

    <listeners>
        <listener class-name="utils.AssignTestPriorityTransformer" />
    </listeners>
    <test name="ORG Website Regression Tests">
        <classes>
            <class name="tests.ORGPageTests" />
        </classes>
    </test>

</suite>